{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1661956602868-6ae368943878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Ut's Blog</h1>
                            <span class="subheading">A Blog Theme by Utsav</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                   {% for post in posts:   %}


                    <div class="post-preview">
                        <a href="{{url_for('post',index=post['id'])}}">
                            <h2 class="post-title">{{post['title']}}</h2>
                            <h3 class="post-subtitle">{{post['subtitle']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{post.author.name}}</a>
                            on {{post.date}}
                           {% if current_user.id==1 %}
                            <a href="{{url_for('delete_post',post_id=post.id)}}">✘</a>
                            {% endif %}
                        </p>
                        
                    </div>
                    <hr class="my-4" />
                   {% endfor %}
                   
                   
                    <!-- Divider-->
                    
                    <!-- Pager-->
                    {% if current_user.id==1 %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{url_for('new_post')}}">Create New POst</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
       
    {% include "footer.html" %}
